/*  #GMAPS + Location  Details
================================================*/
.sebm-google-map-container {
  height: 350px;
  position: relative;
}
.icon::before {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
