/* Style component 4
========================================================*/
agm-map {
  height: 250px;
}

ion-grid {
  height: 100%;
  background: var(--cs-background-secondary, #FFFFFF);

  ion-row {
    height: calc(100% - 310px);
  }
}

ion-item {
  --background: var(--cs-background-secondary, #FFFFFF);
  border-radius: 24px;
}

.textarea {
  min-height: 260px;
  height: 100%;

  ion-item {
    height: 100%;
    width: 100% !important;
    display: -webkit-inline-box;

    ion-textarea {
      height: 100% !important;
      width: 100% !important;
    }
  }
}
