/* Profile 3
========================================*/
.active {
  color: var(--cs-icon-color-accent, #2ABDCE) !important;
}
.social-share {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
