<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row>
      <ion-col size="12">
        <ion-item class="transparent" lines="none">
          <!--- Total Rating Icon -->
          <div *ngFor="let item of data.iconsStars; let i = index;">
            <ion-icon class="icon-font-sm icon-color-accent"
             [name]="item.iconStar">
            </ion-icon>
          </div>
          <span class="text-size-sm font-regular text-color-accent ion-padding-start">
            {{data.rating}}</span>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-card class="default-item no-box-shadow"
        *ngFor="let item of data.items; let i = index;">
          <ion-item class="transparent" lines="none">
            <ion-label>
              <!--- Time -->
              <p class="text-size-sm font-regular text-color-secondary">
                {{item.time}}</p>
            </ion-label>
            <!--- Rating Icon -->
            <div class="rating">
              <div *ngFor="let item of item.iconsStars; let i = index;">
                <ion-icon class="icon-font-sm icon-color-accent
                " [name]="item.iconStar">
                </ion-icon>
              </div>
            </div>
          </ion-item>
          <ion-card-content>
            <!--- Title -->
            <h2 class="text-size-md font-bold text-color-primary">
              {{item.title}}</h2>
            <!--- Description -->
            <h3 class="text-size-p font-regular text-color-secondary">
              {{item.description}}
            </h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
