<!-- COMMENTS --COMPONENT 2 -->
<ion-grid *ngIf="data != null" class="ion-no-padding">
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <!-- All components -->
        <ion-list-header class="ion-padding">
          <h3 class="text-size-sm text-color-accent
          font-regular ion-no-margin">{{data.allComments}}</h3>
        </ion-list-header>
        <!-- Avatar and size -->
        <ion-item class="transparent" lines="none"
        *ngFor="let item of data.items"
        (click)="onItemClickFunc(item, $event)">
          <ion-avatar slot="start">
            <img [src]="item.image">
          </ion-avatar>
          <ion-label class="border-radius ion-margin-start">
            <h2 class="text-size-md text-color-primary
            font-bold ion-text-wrap">{{item.title}}</h2>
            <p class="text-size-sm text-color-secondary
            font-regular ion-text-wrap">{{item.time}}</p>
            <p class="text-size-p text-color-secondary
            font-regular ion-padding-top ion-text-wrap">
              {{item.description}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
