/* Style component 1
========================================================*/

ion-card {
  height: 300px;
  box-shadow: none;
  position: relative;

  &::after {
    content: "";
    background: var(--cs-gradient-image);
    position: absolute;
    z-index: 1;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  ion-card-content {
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

ion-item {
  --inner-padding-end: 0;
}
