ion-slides {
  // Settings Background
  .background-size {
    height: 300px;
    width: 100%;
    // Card Settings
    ion-card {
      width: 100%;
      margin: 0 auto;
    }
  }
}

ion-img {
  overflow: hidden;
}
