<!-- Themes Register + logo 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="data != null" class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content *ngIf="data != null">
    <ion-grid class="ion-no-padding">
      <ion-row *ngIf="data != null">
        <ion-col size="12">
          <div class="background-size"
          [ngStyle]="{'background-image': 'url(' + data.background + ')'}"></div>
        </ion-col>
        <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2">
          <!---Form-->
          <form class="ion-margin-vertical ion-text-center ion-padding-top ion-padding-bottom">
            <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">
              {{data.title}}</h1>
            <!---Input field username-->
            <ion-item class="ion-no-padding ion-text-center" input lines="none">
              <ion-label class="text-size-sd text-color-primary font-regular"
              position="stacked">{{data.lableUsername}}</ion-label>
              <ion-input required type="text" [placeholder]="data.username"
              [(ngModel)]="item.username" [ngModelOptions]="{standalone: true}">
            </ion-input>
              <ion-icon *ngIf="!isUsernameValid" class="icon-font-sm error-color"
              name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field password-->
            <ion-item class="ion-no-padding ion-text-center" input lines="none">
              <ion-label class="text-size-sd text-color-primary font-regular"
              position="stacked">{{data.lablePassword}}</ion-label>
              <ion-input required type="password" [placeholder]="data.password"
              [(ngModel)]="item.password" [ngModelOptions]="{standalone: true}">
            </ion-input>
              <ion-icon *ngIf="!isPasswordValid" class="icon-font-sm error-color"
               name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field email-->
            <ion-item class="ion-no-padding ion-text-center" input lines="none">
              <ion-label class="text-size-sd text-color-primary font-regular"
              position="stacked">{{data.lableEmail}}</ion-label>
              <ion-input required type="email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              [placeholder]="data.email" [(ngModel)]="item.email"
              [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon *ngIf="!isEmailValid" class="icon-font-sm error-color"
               name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field country-->
            <ion-item class="ion-no-padding ion-text-center" input lines="none">
              <ion-label class="text-size-sd text-color-primary font-regular"
              position="stacked">{{data.lableCountry}}</ion-label>
              <ion-input required type="text" [placeholder]="data.country"
              [(ngModel)]="item.country" [ngModelOptions]="{standalone: true}">
            </ion-input>
              <ion-icon *ngIf="!isCountryValid" class="icon-font-sm error-color"
               name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field city-->
            <ion-item class="ion-no-padding ion-text-center" input lines="none">
              <ion-label class="text-size-sd text-color-primary font-regular"
              position="stacked">{{data.lableCity}}</ion-label>
              <ion-input required type="text" [placeholder]="data.city"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="item.city">
            </ion-input>
              <ion-icon *ngIf="!isCityValid" class="icon-font-sm error-color"
               name="remove-circle"></ion-icon>
            </ion-item>
            <!---Register button-->
            <ion-button class="box-shadow default-button ion-text-capitalize ion-margin"
             expand="block" (click)="onRegisterFunc()">
              {{data.register}}
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
