<!-- ANIMATION --COMPONENT 1 -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" *ngIf="data != null">
      <ion-list appAnimateItems className="fadeInUp">
        <ion-item class="default-item animation-normal opacity-0"
        lines="none" *ngFor="let entry of data;" (click)="onItemClickFunc(entry)">
          <!-- Avatar Image -->
          <ion-avatar slot="start">
            <img [src]="entry.image">
          </ion-avatar>
          <!-- Avatar Title -->
          <ion-label class="ion-padding-start">
            <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
              {{entry.title}}</h2>
            <h3 class="text-size-sm text-color-secondary font-regular ion-text-wrap">
              {{entry.subtitle}}</h3>
          </ion-label>
          <ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
