<!-- Theme Segment - Segment List -->
<ion-page class="ion-page" *ngIf="viewEntered">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="data != null" class="ion-text-capitalize">
        {{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
    <!--Segment Section -->
    <ion-toolbar class="ion-no-padding background-secondary" *ngIf="data != null">
        <ion-segment scrollable [(ngModel)]="selectedItem">
          <ion-segment-button class="ion-text-capitalize" value="Page1">
            <ion-label>
              {{data.segmentButton1}}</ion-label>
          </ion-segment-button>
          <ion-segment-button class="ion-text-capitalize" value="Page2">
            <ion-label>
              {{data.segmentButton2}}</ion-label>
          </ion-segment-button>
          <ion-segment-button class="ion-text-capitalize" value="Page3">
            <ion-label>
              {{data.segmentButton3}}</ion-label>
          </ion-segment-button>
          <ion-segment-button class="ion-text-capitalize" value="Page4">
            <ion-label>
              {{data.segmentButton4}}</ion-label>
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
  </ion-header>

  <!-- Content-->
  <ion-content>
    <ion-grid class="ion-no-padding" *ngIf="data != null && data.page1 != null">

      <!--- SETTINGS PAGE2 SCREEN -->
      <ion-row class="page1 background-secondary" *ngIf="isEnabled('Page1')">
        <ion-col size="12">
          <ion-card class="ion-no-padding ion-no-margin ion-text-center
          no-box-shadow background-size no-border-radius"
          [ngStyle]="{'background-image': 'url(' + data.page1.headerImage + ')'}">
            <ion-avatar>
              <img [src]="data.page1.image" alt="">
            </ion-avatar>
            <ion-card-content>
              <h1 class="text-size-md text-color-light font-bold ion-text-wrap">
                {{data.page1.title}}</h1>
              <p class="text-size-sm text-color-light font-light ion-text-wrap">
                {{data.page1.subtitle}}</p>
            </ion-card-content>
            <div class="social-share ion-margin-bottom">
              <!-- Followers-->
              <ion-item class="transparent" lines="none">
                <ion-label class="ion-text-center">
                  <span class="text-size-sm text-color-light font-regular">
                    {{data.page1.valueFollowers}}</span>
                  <h2 class="text-size-sm text-color-light font-regular">
                    {{data.page1.followers}}</h2>
                </ion-label>
              </ion-item>
              <!-- Following -->
              <ion-item class="transparent" lines="none">
                <ion-label class="ion-text-center">
                  <span class="text-size-sm text-color-light font-regular">
                    {{data.page1.valueFollowing}}</span>
                  <h2 class="text-size-sm text-color-light font-regular">
                    {{data.page1.following}}</h2>
                </ion-label>
              </ion-item>
              <!-- Post -->
              <ion-item class="transparent" lines="none">
                <ion-label class="ion-text-center">
                  <span class="text-size-sm text-color-light font-regular">
                    {{data.page1.valuePosts}}</span>
                  <h2 class="text-size-sm text-color-light font-regular">
                    {{data.page1.posts}}</h2>
                </ion-label>
              </ion-item>
            </div>
            <!-- Social Button-->
            <ion-button class="ion-margin-bottom "fill="clear">
              <ion-icon slot="icon-only" class="icon-font-xl icon-color-primary"
              [name]="data.page1.logoFacebook"></ion-icon>
            </ion-button>
            <ion-button class="ion-margin-bottom" fill="clear">
              <ion-icon slot="icon-only" class="icon-font-xl icon-color-primary"
              [name]="data.page1.logoTwitter"></ion-icon>
            </ion-button>
            <ion-button class="ion-margin-bottom" fill="clear">
              <ion-icon slot="icon-only" class="icon-font-xl icon-color-primary"
              [name]="data.page1.logoInstagram"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-col>
        <!-- Info Author-->
        <ion-col size="12" *ngFor="let item of data.page1.items">
          <ion-card class="transparent ion-no-margin no-padding no-box-shadow">
            <ion-item class="transparent" lines="none">
              <ion-label>
                <h2 class="text-size-sm text-color-secondary font-bold">
                  {{item.title}}</h2>
                <p class="text-size-sm text-color-secondary
                font-regular ion-text-wrap ion-padding-top">
                  {{item.subtitle}}</p>
                <h3 class="text-size-sm text-color-secondary font-bold ion-padding-top">
                  {{item.content}}</h3>
              </ion-label>
            </ion-item>
            <ion-item class="transparent" lines="none">
              <ion-icon class="icon-font-md icon-color-accent"
              [name]="item.iconPhone"></ion-icon>
              <p class="text-size-sm text-color-secondary font-bold
              ion-padding-start">{{item.phone}}</p>
            </ion-item>
            <ion-item class="transparent" lines="none">
              <ion-icon class="icon-font-md icon-color-accent"
              [name]="item.iconMail"></ion-icon>
              <p class="text-size-sm text-color-secondary font-bold
              ion-padding-start">{{item.mail}}</p>
            </ion-item>
            <ion-item class="transparent" lines="none">
              <ion-icon class="icon-font-md icon-color-accent"
              [name]="item.iconGlobe"></ion-icon>
              <p class="text-size-sm text-color-secondary font-bold
              ion-padding-start">{{item.globe}}</p>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <!--- SETTINGS PAGE2 SCREEN -->
      <ion-row class="page2" *ngIf="isEnabled('Page2') && data.page2 != null">
        <ion-col size="12">
          <!-- Header Image -->
          <div class="background-size"
          [ngStyle]="{'background-image': 'url(' + data.page2.background + ')'}">
        </div>
          <ion-item class="default-item" lines="none"
          *ngFor="let item of data.page2.items"
          (click)="onItemClickFunc(item, $event)">
            <ion-avatar slot="start">
              <img [src]="item.image" alt="">
            </ion-avatar>
            <ion-label class="ion-padding-start overflow-visible">
              <h2 class="ion-text-wrap text-size-md font-bold text-color-primary">
                {{item.title}}</h2>
              <h3 class="ion-text-wrap text-size-sm font-regular text-color-secondary">
                {{item.description}}</h3>
              <!-- Badge -->
              <ion-badge class="box-shadow">{{item.price}}</ion-badge>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--- SETTINGS PAGE3 SCREEN -->
      <ion-row class="page3" *ngIf="isEnabled('Page3') && data.page3 != null">
        <ion-col size="12">
          <!-- Header Image -->
          <div class="background-size"
          [ngStyle]="{'background-image': 'url(' + data.page3.background + ')'}">
        </div>
          <ion-item class="default-item" lines="none"
          *ngFor="let item of data.page3.items"
          (click)="onItemClickFunc(item, $event)">
            <ion-avatar slot="start">
              <img [src]="item.image" alt="">
            </ion-avatar>
            <ion-label class="ion-padding-start">
              <h2 class="ion-text-wrap text-size-md font-bold text-color-primary">
                {{item.title}}</h2>
              <h3 class="ion-text-wrap text-size-sm
              ion-padding-top font-regular text-color-secondary">
                {{item.description}}</h3>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--- SETTINGS PAGE4 SCREEN -->
      <ion-row class="page4" *ngIf="isEnabled('Page4') && data.page4 != null">
        <ion-col size="12">
          <ion-list>
            <!--Header-->
            <ion-list-header class="ion-padding">
              <!-- Title and Subtitle -->
              <ion-label class="ion-text-center">
                <h1 class="text-size-md font-regular text-color-primary
                ion-text-wrap">{{data.page4.title}}</h1>
                <h2 class="text-size-sm text-color-accent font-regular
                ion-text-wrap">{{data.page4.subtitle}}</h2>
                <ion-button class="default-button box-shadow ion-margin-top"
                expand="block">
                  {{data.page4.button}}
                </ion-button>
              </ion-label>
            </ion-list-header>
            <!-- Content -->
              <ion-item class="default-item "lines="none"
              *ngFor="let item of data.page4.items"
              (click)="onItemClickFunc(item, $event)">
                <!-- Avatar -->
                <ion-avatar slot="start">
                  <img [src]="item.image">
                </ion-avatar>
                <ion-label class="ion-padding-start overflow-visible">
                  <h2 class="ion-text-wrap font-bold text-size-md text-color-primary">
                    {{item.title}}</h2>
                  <h3 class="ion-text-wrap font-regular
                  text-color-secondary text-size-sm">{{item.subtitle}}</h3>
                  <!-- Badge -->
                  <ion-badge class="box-shadow">{{item.price}}</ion-badge>
                </ion-label>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
</ion-page>
