// Comfortaa light
@font-face {
    font-family: Hini;
    src: url(../assets/fonts/Hini/Hind-Light.ttf);
    font-style: normal;
}

// Hini Regular
@font-face {
    font-family: Hini;
    src: url(../assets/fonts/Hini/Hind-Regular.ttf);
    font-style: normal;
}

// Hini Medium
@font-face {
    font-family: Hini;
    src: url(../assets/fonts/Hini/Hind-Medium.ttf);
    font-style: normal;
}

// Hini SemiBold
@font-face {
    font-family: Hini;
    src: url(../assets/fonts/Hini/Hind-SemiBold.ttf);
    font-style: normal;
}



// Hini Bold
@font-face {
    font-family: Hini;
    src: url(../assets/fonts/Hini/Hind-Bold.ttf);
    font-style: normal;
}
