<ion-app>
  <!-- Header-->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        SubImage Gallery page
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    <cs-image-gallery-layout-2
      [data]="data"
      (onFavorite)="onFavorite($event)"
      (onItemClick)="onItemClick($event)">
    </cs-image-gallery-layout-2>

  </ion-content>
</ion-app>
