<ion-header [ngClass]="{'active': isHeaderVisible }">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--- Theme Parallax Frends -->
<ion-page class="ion-page">
  <ion-content scrollEvents="true" parallax-header
  *ngIf="data != null" (ionScroll)="scrolling($event)">
    <div class="header-image background-size"
    [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
      <div class="parallax-title-section">
        <!--Title parallax-->
        <h2 class="text-size-xl text-color-light font-bold"
        *ngIf="data != null">
          {{data.title}}</h2>
        <h3 class="text-size-md text-color-light font-regular"
        *ngIf="data != null">
          {{data.subtitle}}</h3>
      </div>
    </div>
    <!--Content-->
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row>
        <ion-col size="12">
          <ion-list class="ion-no-margin">
            <ion-item class="default-item ion-no-padding" lines="none"
            *ngFor="let item of data.items"
            (click)="onItemClickFunc(item, $event)">
              <ion-label>
                <ion-item-divider class="transparent">
                  <!--Content Avatar-->
                  <ion-avatar slot="start">
                    <img [src]="item.image">
                  </ion-avatar>
                  <!-- Ttile and Subtitle -->
                  <h2 class="text-size-md text-color-primary font-bold
                  ion-text-wrap ion-padding-start">{{item.title}}</h2>
                  <ion-button class="default-button box-shadow
                  ion-text-capitalize margin-half" slot="end">
                    {{item.button}}</ion-button>
                </ion-item-divider>
                <ion-item-divider class="transparent">
                  <h3 class="text-size-sm text-color-secondary
                  font-regular ion-text-wrap">{{item.subtitle}}</h3>
                </ion-item-divider>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
