<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="11" offset="1">
      <!-- Cards -->
      <ion-card class="ion-padding-top border-radius"
      *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
        <span class="text-size-sm text-color-accent font-bold
        ion-text-wrap ion-margin-start">{{item.time}}</span>
        <ion-item class="transparent" lines="none">
          <ion-avatar slot="start">
            <img [src]="item.avatar">
          </ion-avatar>
          <ion-label class="ion-padding-start">
            <h2 class="text-size-md text-color-primary
            font-bold ion-text-wrap">{{item.title}}</h2>
            <h3 class="text-size-sm text-color-secondary
            font-regular ion-text-wrap">{{item.subtitle}}</h3>
            <p class="text-size-p text-color-secondary font-regular
            ion-text-wrap ion-padding-top">{{item.description}}</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
