<!-- NEW PASSWORD --COMPONENT 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="data != null" class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content *ngIf="data != null" class="transparent background-size"
  [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center ion-padding-horizontal" *ngIf="data != null">
        <ion-col size="12" size-md="8" push-md="2">
          <!-- Logo -->
          <img class="logo" [src]="data.logo"/>
          <!---Form-->
          <form class="ion-margin-vertical ion-text-center ion-padding-vertical">
            <!---Subtitle-->
            <h2 class="text-size-ms text-color-primary font-regular ion-text-wrap">
              {{data.subtitle}}</h2>
            <!---Logo Title-->
            <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">
              {{data.title}}</h1>
            <!---Input field Email-->
            <ion-item class="ion-no-padding ion-text-center" input lines="none">
              <ion-label class="text-size-sd text-color-primary font-regular"
              position="stacked">{{data.labelPassword}}</ion-label>
              <ion-input required type="password"
              [ngModelOptions]="{standalone: true}"
              [placeholder]="data.password"
              [(ngModel)]="item.password"></ion-input>
              <ion-icon *ngIf="!isPasswordValid"
              class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field Email-->
            <ion-item class="ion-no-padding ion-text-center" input lines="none">
              <ion-label class="text-size-sd text-color-primary font-regular"
              position="stacked">{{data.labelPasswordNew}}</ion-label>
              <ion-input required type="password" [placeholder]="data.confrim"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="item.confrim">
            </ion-input>
              <ion-icon *ngIf="!isConfrimValid" class="icon-font-sm error-color"
              name="remove-circle"></ion-icon>
            </ion-item>
            <!---Send button-->
            <ion-button class="default-button box-shadow ion-text-capitalize ion-margin"
             expand="block" (click)="onDoneFunc()">
              {{data.done}}
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
