/* Style component 1
========================================================*/

.default-item {
  margin: 8px 8px 0 8px !important;
  --inner-padding-end: 0;
}

.icon-info {
  background: var(--cs-background-accent, #2ABDCE);
  padding: 0 10px;
  height: 100%;
  display: grid;
  align-items: center;
}
