ion-item {
  --inner-padding-end: 0;
  ion-input {
    --background: transparent !important;
    --padding-bottom: 10px;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 10px;
    margin: 16px 16px !important;
    width: calc(100% - 32px);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.16);
  }

  ion-label {
    transform: none;
    margin: 5px 0 0 0 !important;
  }
}
