
.scooter-cf {
  --background: linear-gradient(to left, #2ABDCE 0%, #A8DF63 100%) !important;
}

.cherobins {
  --background: linear-gradient(to left, #0DC9BD 0%, #DFDF63 100%) !important;
}

.cheninapricot {
  --background: linear-gradient(to left, #EC7581 0%, #DFDF63 100%) !important;
}

.heliotropeportage {
  --background: linear-gradient(to left, #7F73EB 0%, #D784FF 100%) !important;
}

.scooter {
  --background: #2ABDCE !important;
}

.deepblush {
  --background: #E5819F !important;
}

.mediumpurple {
  --background: #8E81E5 !important;
}

.porsche {
  --background: #E5A863 !important;
}

.bilobaflower {
  --background: #BD7EEC !important;
}

.celery {
  --background: #93C851 !important;
}
